[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/dss-interfaces"]
	path = lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces
[submodule "lib/univ2-lp-oracle"]
	path = lib/univ2-lp-oracle
	url = https://github.com/makerdao/univ2-lp-oracle
