[submodule "lib/dss-interfaces"]
	path = lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
